<div class="footer-container">

    <div class="col-1"> 
        <h4>NAVIGATE</h4>
            <a href="/">Home</a>
             <a href="/menu">On The Menu</a>
            <!-- random links -->
            <a href="https://www.dal.ca/sites/agri-food/research/canada-s-food-price-report-2022.html">Pricing</a> 
            <a href="https://www.foodafactoflife.org.uk/11-14-years/cooking/ingredients">Our Ingredients</a>
            <a href="https://www.purchasing-procurement-center.com/purchasing-terms.html">Purchase Terms & Conditions</a>
            <a href="https://builtin.com/recruiting/15-career-page-examples">Join our team</a>
    </div>

    <div class="col-2">
        <h4>GET IN TOUCH</h4>
            <p><b>1(888)698-4545</p></b>
            <p><b>coolbeans@gmail.com</p></b>
                        
                        

        <div class="insta-logo">
            <h4>FOLLOW US</h4>
            <a href="https://www.instagram.com/foodeliverystore/">
                <img src="/images/logo-i.png" alt="inst-logo">
            </a>

            <a href="https://twitter.com/twitterfood">
                <img src="/images/logo-i2.png" alt="twitter-logo">
            </a>
        </div>
    </div>        
</div>

 <h5><em>Copyright © Fall 2022, Kseniia Katashova, WEB322 NEE</em></h5>
            

