<div class="top-line">
    <a href="/">
        <img src="/images/Logo6.png" alt="logo" class="logo">
    </a>

         <nav>
            <ul>
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/menu" class="nav-link">On the menu</a></li>
                {{!-- <li><a href="/user/sign-up" class="nav-link">Sign-Up</a></li>   --}}
                {{#if user}}
                <li>Hello {{user.firstName}}</li>
                <li><a href="/user/logout" class="nav-link">Log-out</a></li>
                {{else}}
                <li><a href="/user/log-in" class="nav-link">Log-In</a></li>
                <li><a href="/user/sign-up" class="nav-link">Sign-Up</a></li> 
                {{/if}}
            </ul>
        </nav>
</div>
