<h2>Everyone can cook as a chef! </h2>
<div class="prominentImage">
    <img src="/images/pic3.png">
</div>
<br>
<br>



<div id="service">
    <h2> HOW IT WORKS</h2>

     <div class="container-service">

        <div class="col">

            <img src="/images/service1.webp">
            <h3>Our chef creats recipes</h3>
            <p>Our chefs and nutritionists make up the optimal menu.</p>
        </div>


        <div class="col">

            <img src="/images/service2.jpg">
            <h3>Select a meal</h3>
            <p>You choose a menu and convenient delivery time</p>
        </div>

        <div class="col">

            <img src="/images/service3.webp">
            <h3>Get you food box</h3>
            <p>Every day, suppliers bring only fresh and high-quality products.</p>
        </div>

        <div class="col">

            <img src="/images/service4.webp">
            <h3>Cook a palatable meal</h3>
            <p>We provide prepared foods with recipes - you cook and enjoy</p>
        </div>
    </div> 

</div>