
<div class="container-mealkit">
        <div class="meal">
            <img src="{{imageUrl}}">
            <h3>{{title}}</h3>
            <p> {{description}}</p>
            <br>
            <b><em>${{price}}</em></b>
        </div>
 </div>

                

