{{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> --}}
<h2>Welcome back</h2>

<div class="main-cont">
  

  <form method="post" action="/log-in">
   
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="{{values.email}}"/><br/>

      {{#if validationMessages.email}}
        <span>{{validationMessages.email}}</span><br/>
      {{/if}}

      <label for="password">Password</label>
      <input type="password" id="password" name="password" value="{{values.password}}"/><br/>

      {{#if validationMessages.password}}
        <span>{{validationMessages.password}}</span><br/>
      {{/if}}
        
      
      <input type="submit" value="Log In"/>


  </form>
</div>