<h2>ALL MEALKITS</h2>

        {{#each mealKits}}
            {{>mealkit this}}
        {{else}}
        <tr>
            <td colspan="4">There are no meal to show.</td>
        </tr>
        {{/each}}
