/*************************************************************************************
* WEB322 - 2227 Project
* I declare that this assignment is my own work in accordance with the Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Student Name  : Kseniia Katashova 
* Student ID    : 138164207
* Course/Section: WEB322/NEE
*
**************************************************************************************/
html{
    height: 100%;
}

body{
    margin: 0;
    color:rgb(85, 192, 144);
    background-color: rgb(250, 245, 245);

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

 h5{
    text-align: center;
    color: #252421;
}


/************** NAVIGATION BAR ***************/
.top-line{
    width:80%;
    margin: 0 auto;
}


header{
    background: #d4d0c6;
    padding-bottom: 15px;
}

.logo{
    float:left;
    padding: 10px 0;
    max-height: 45px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a{
color: #444;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}

nav a:hover{
    color: #000;
}


/*********** HERO SECTION **************/
h2{
    text-align: center;
    color: rgb(100, 95, 95);
    
}

.prominentImage div{
    text-align: center;
}

.prominentImage img{
    height: 345px;
    width: 70%;
    margin: auto;
    display: block;

}


/*********** CONTENT SECTION *************/
#service{
    color: rgb(245, 244, 239);
    background-color: rgb(226, 226, 226);
    border: 1px solid #252421;
    padding: 5px;
    margin: 30px;
}

.container-service{
    width: 100%;
    height: 100;
    
}

.col{
    width: 190px;
    height: 300px;
    background-color: rgb(226, 226, 226);
    float:left;
    
    padding: 20px;
    margin: 60px; 
}

.col h3{
    text-align: center;
    font-size: 20px;
    color: rgba(43, 31, 31, 0.699);
}

.col p{
    text-align: center;
    color: rgb(51, 41, 28);
    font-size: 18px;
}

.col img{
    width: 220px;
}



/********** TOP MEALS SECTION ***********/

#top-meals{
    color: black;
    
}


.container-meal{

    width: 100%;
    height: 100px;
    background-color: rgb(255, 221, 127);
}

.meal{
    width: 270px; 
    height: 380px;
    border: 1px solid #49463e;
    float:left;
    padding: 20px;
    margin: 80px;
    color: #000;
}

.meal img{
    width: 270px;
    height: auto;
}

.meal h3{
    text-align: center;
    font-size: 20px;
    color: #444;
    text-decoration: underline;
}






/*********** FOOTER   *************/
footer{
    color: #42413d;
    text-align: center;
}

.footer-container
{
  margin-top: 150px;
  width:100%;
  padding: 40px 15%;
  background: rgb(119, 116, 102);
  color:rgb(255, 238, 217);
  display: flex; /* was flex */
}

.footer-container  div {
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer-container div h4{
   font-weight: 300;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color:#f1ece0;
    margin-top: 15px;
}

.col-2 p{
    font-size: large;
}

.col-2 img{
    width: 40px;
}


/******** For both FORMS (sign-up and log-in pages) *********/

span{
    color: red;
    font-size: smaller;
}

label{
    color: rgb(54, 53, 49);
}


/******** Login Page *********/
/* .main-cont{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    
}

form {
    border: 6px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  /* input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 4px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


.form-cont{
    text-align: center;
    margin: 24px 0 24px 0;
}

input[type=submit] {
    background-color: #8a8a79;
  color: white;
  padding: 14px 20px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  width: 6%;
} */

  /* Add a background color and some padding around the form */
  .main-cont {
    width: 20%;
    border-radius: 5px;
    background-color: #e0dad6;
    padding: 20px;
    margin-left: 40%;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], [type=password]{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 8px; /* Add a top margin */
    margin-bottom: 2px; /* Bottom margin */
   
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  label{
    font-size: large;
  }
